<div class="background-header">
    <div id="menu-elements">
        <div id="menu-desc">
            <span class="material-icons">
                signal_cellular_alt
            </span>
            <p> Virgin  3G </p>
        </div>

        <p> 4:20 PM </p>
        <div id="menu-icons">
            <img src="../../assets/images/screen1_header_toBar_alarm.png" alt="battery">
            <img src="../../assets/images/screen1_header_toBar_battery.png" alt="battery">
        </div>
    </div>
</div>

<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="push">
        <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
        <app-menu-screen></app-menu-screen>
    </mat-sidenav>

    <mat-sidenav-content>
        <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
        <app-main-screen></app-main-screen>
        <p>
            Tutej jest cały podstawa
        </p>
    </mat-sidenav-content>
</mat-sidenav-container>
