<div class="background-header">
    <div id="menu-elements">
        <div id="menu-desc">
            <span class="material-icons">
                signal_cellular_alt
            </span>
            <p> Virgin 3G </p>
        </div>

        <p> 4:20 PM </p>
        <div id="menu-icons">
            <img src="../../assets/images/screen1_header_toBar_alarm.png" alt="battery">
            <img src="../../assets/images/screen1_header_toBar_battery.png" alt="battery">
        </div>
    </div>
</div>


