.background-main {
    background-color: black;
}

#home {
    height: 400px;
    background-image: url("../../assets/images/screen1_header_profile_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

#header-elements {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

#header-elements input {
    height: 27px;
    width: 27px;
    outline: none
}

#header-elements p {
    color: white;
    font-size: 30px;
    font-family: blackjack;
}

#header-elements p img {
    width: 25px;
}

#content-box {
    width: 100%;
    display: table;
}

#content-box-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 60px 0;
}

#content-box-inner span {
    font-family: blackjack;
    font-size: 40px;
}

#content-box-inner .desc {
    margin-top: 20px;
}

#content-box-inner .desc h3, h5 {
    margin: 0;
    font-family: newCicleFina;
}

#bottom-elements {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.bottom-element {
    padding: 0px 20px;
}

#bottom-elements img {
    width: auto;
    height: auto;
}

.mat-badge-content {
    width: auto;
    display: grid;
    min-width: 32px;
    min-height: 28px;
    text-align: center;
    align-items: center;
    background-color: #f56f6c;
    left: 25px;
}

.custom-container {
    display: flex;
    justify-content: space-between;
}

.column {
    flex-direction: column;
    height: 120px;
}

.item {
    height: 120px;
    padding: 25px 20px;
    background-color: #f56f6c;
    border-bottom: 2px solid rgb(255 158 156);
}

.item .img {
    float: left;
    width: 60px;
    height: 60px;
    padding: 10px 15px;
}

.img img {
    width: auto;
    height: auto;
}

.item .description-menu {
    float: left;
    padding-left: 30px;
}

.description-menu .description-menu-inner {
    display: flex;
    font-family: calibriBold;
    color: white;
}

.description-menu-inner p {
    padding-top: 10px;
    margin-bottom: 0;
}

.description-menu .description-desc p {
    font-family: newCicleFina;
    color: white;
    font-size: 19px;
}

.hidden-bg {
    height: 120px;
    width: 250px;
    background-image: url("../../assets/images/screen1_content_post3_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.hidden-bg input {
    padding: 0 10px;
    outline: none
}

.hidden-bg input:hover,
.hidden-bg input:active {
    opacity: 0.5;
    outline: none
}



@media (max-width: 420px) {
    .description-menu .description-desc p {
        font-size: 16px;
    }
}


@media (max-width: 380px) {
    .description-menu .description-desc p {
        font-size: 12px;
    }


    .description-menu .description-menu-inner {
        font-size: 14px;
    }
}