<div>
    <div id="home">
        <div id="header-elements">
            <button style="background: url('../../assets/images/screen1_header_top_menu_icon.png')"></button>
            <p> <img src="../../assets/images/screen1_header_top_menu_name_shape.png"> UI love</p>
            <img src="../../assets/images/screen1_header_top_bio_icon.png">
        </div>

        <div id="content-box">
            <div id="content-box-inner">
                <p>Principal Designers</p>
                <p>who belive in smplicity.</p>
                <p>love with UI/ GUI/ UX</p>
            </div>
        </div>

        <div id="bottom-elements">
            <img src="../../assets/images/screen1_header_social_dribble.png" alt="">
            <img src="../../assets/images/screen1_header_social_forrst.png" alt="">
            <img src="../../assets/images/screen1_header_social_be.png" alt="">
        </div>
    </div>


    <div class="custom-container column" >
        <div class="item" *ngFor="let social of socialMenu">
            <div class="img">
                <img src="{{social.icon}}" alt="">
            </div>
            <div class="description-menu">
                <div class="description-menu-inner">
                    <p>{{social.time}}</p>
                    <p>{{social.author}}</p>
                </div>
                <p>{{social.description}}</p>
            </div>
        </div>
    </div>




<!--</div>-->
<!--<p>Hello</p>-->
<!--<mat-sidenav-container class="example-container">-->
    <!--<p>Elo</p>-->

    <!--<mat-sidenav #sidenav [mode]="mode.value">-->
        <!--<p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>-->
        <!--<p>-->
            <!--<mat-radio-group class="example-radio-group" [formControl]="mode">-->
                <!--<label>Mode:</label>-->
                <!--<mat-radio-button value="over">Over</mat-radio-button>-->
                <!--<mat-radio-button value="side">Side</mat-radio-button>-->
                <!--<mat-radio-button value="push">Push</mat-radio-button>-->
            <!--</mat-radio-group>-->
        <!--</p>-->
    <!--</mat-sidenav>-->

    <!--<mat-sidenav-content>-->
        <!--<p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>-->
        <!--<p>-->
            <!--<mat-radio-group class="example-radio-group" [formControl]="mode">-->
                <!--<label>Mode:</label>-->
                <!--<mat-radio-button value="over">Over</mat-radio-button>-->
                <!--<mat-radio-button value="side">Side</mat-radio-button>-->
                <!--<mat-radio-button value="push">Push</mat-radio-button>-->
            <!--</mat-radio-group>-->
        <!--</p>-->
    <!--</mat-sidenav-content>-->
<!--</mat-sidenav-container>-->

<!--<mat-sidenav-container class="example-container">-->
    <!--<mat-sidenav #sidenav mode="push">-->
        <!--<p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>-->
        <!--<app-menu-screen></app-menu-screen>-->
    <!--</mat-sidenav>-->

    <!--<mat-sidenav-content>-->
        <!--<p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>-->
        <!--<p>-->
            <!--Tutej jest cały podstawa-->
            <!--&lt;!&ndash; <mat-radio-group class="example-radio-group" [formControl]="mode">-->
              <!--<label>Mode:</label>-->
              <!--<mat-radio-button value="over">Over</mat-radio-button>-->
              <!--<mat-radio-button value="side">Side</mat-radio-button>-->
              <!--<mat-radio-button value="push">Push</mat-radio-button>-->
            <!--</mat-radio-group> &ndash;&gt;-->
        <!--</p>-->
    <!--</mat-sidenav-content>-->
<!--</mat-sidenav-container>-->


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>