<div class="custom-menu">
    <div>
        <div class="edit-icon">
            <img src="../../assets/images/screen2_menu_edit_ellipse.png">
        </div>

        <div id="menu-heading">
            <div id="menu-heading-inner">
                <img class="image1" src="../../assets/images/screen2_menu_profile_bg.png" alt="">
                <img class="image2" src="../../assets/images/screen2_menu_profile_profilePhoto.png" alt="">
                <h3 style="color: white">Designer Name</h3>
                <h5 style="color: #f56f6c">love with UI / GUI/ UX</h5>
            </div>
        </div>


    </div>

    <div class="custom-container column">
        <div class="item" *ngFor="let option of menu">
            <div class="item-desc">
                <div class="img">
                    <img src="{{option.icon}}" alt="">
                </div>

                <p>{{option.description}}</p>
            </div>
            <div class="item-counter">
                <span id="oval"><p class="counter">{{option.counter}}</p></span>

            </div>
        </div>
    </div>


    <div id="wrapper">
        <input type="image" src="../../assets/images/screen2_menu_signout.png" />
    </div>

</div>